<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FastChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FastChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FastChat.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>Your Name</value>
            </setting>
            <setting name="AllowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationSound" serializeAs="String">
                <value>1</value>
            </setting>
        </FastChat.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FastChat.Properties.Settings>
            <setting name="About" serializeAs="String">
                <value>Xinx Broadcast Chat by Sanil (http://projects-sanil.co.cc)

XBC is an application for LAN Chatting. Its just not a dumb messenger, it allows many facilities like user presence detection, Asking questions etc.

XBC is open source under MS-PL license. To read more about it go to http://www.codeplex.com/XBC

Project Contributors:
1. Sanil Singh Tomar (sanil.sun@gmail.com)
2. Roman Alifanov (animaonline@gmail.com)</value>
            </setting>
        </FastChat.Properties.Settings>
    </applicationSettings>
</configuration>